<%- model_class = Fortune -%>
<div class="page-header">
  <h1><%=t '.title', :default => "aircraft" %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:quotation) %>:</strong></dt>
  <dd><%= @fortune.quotation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:source) %>:</strong></dt>
  <dd><%= @fortune.source %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              fortunes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_fortune_path(@fortune), :class => 'btn' %>
  <%= link_to t('.destroy',),
              fortune_path(@fortune),
              :method => 'destroy',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
			  
<%= image_tag @fortune.avatar.url %>
</div>
